/* Стилі для спискового меню сайту */

/* Прибрати маркери списку */
ul {
  list-style: none;
}

/* Вистроїти всі елементи меню у горизонтальному порядку */
ul li {
  display: inline-block;
  margin-right: 20px; /* простір між елементами меню */
}

/* Зробити елементи меню реагують на наведення миші */
ul li:hover {
  background-color: #ccc; /* зміна фонового кольору при наведенні */
  cursor: pointer;
}

/* Зробити елементи меню реагують на натискання миші */
ul li:active {
  background-color: #aaa; /* зміна фонового кольору при натисканні */
}